.auth-modal,
.registr-modal {
  // position: fixed;
  width: 100%;
  height: 100%;
  background-color: #4f2ee8;
  top: 0;
  left: 0;

  opacity: 1;
  // visibility: hidden;
  transition: all 0.5s ease 0s;
  overflow-y: auto;
  z-index: 3;
}

.auth-modal.open,
.registr-modal.open {
  opacity: 1;
  visibility: visible;
}

.auth-modal__box,
.registr-modal__box {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  @media screen and (min-width: 768px) {
    padding: 20px 10px;
  }
  @media screen and (min-width: 1280px) {
    padding: 30px 10px;
  }
}
.auth-modal__content,
.registr-modal__content {
  position: relative;
  background: #f6f6f6;
  background: #f6f6f6;
  min-width: 579px;
  min-height: 516px;
  padding: 50px 40px 40px 40px;
  border-radius: 18px;
  border: 2px solid #111;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.auth-modal__button.modal__button,
.registr-modal__button.modal__button {
  position: absolute;
  top: 16px;
  right: 16px;
  stroke: #111111;
  cursor: pointer;
  transition: transform 300ms ease;
  background-color: #f6f6f6;
  &:hover,
  &:focus {
    stroke: #111111;
    transform: rotate(90deg);
    transition: transform 300ms ease;
  }
}

.auth-modal__header,
.registr-modal__header {
  color: white;
  font-weight: 500;
}

.auth-modal__form,
.registr-modal__form {
  margin-top: 35px;
}

.auth-modal__input-wrapper {
  position: relative;
}

.auth-modal__input {
  width: 499px;
  display: flex;
  padding: 20px 173px 20px 40px;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: 2px solid #111;
  margin-bottom: 28px;
}

.auth-modal__label {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  background: #fff;
  padding: 0 5px;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.5;
}

.auth-modal__input:focus + .auth-modal__label {
  opacity: 0;
}

.submit-btn {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 20px;
  border-radius: 40px;
  padding: 20px 173px;

  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: inherit;
  background-color: #111111;
  color: #f3f3f3;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;

  cursor: pointer;

  &:hover,
  &:focus {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgb(255, 162, 0);
  }
}

.auth-modal_text,
.registr-modal_text {
  color: rgb(154, 159, 159);
  max-width: 226px;
  align-items: center;
}
.registration,
.authorization-link {
  color: #4f2ee8;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.18px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.sign-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-icon {
  position: absolute;
  margin-top: 50px;
}
