.background-authentication.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-delay: 333ms;
}

.background-authentication {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: initial;
  background-image: radial-gradient(
    circle at top left,
    #644fe8 0%,
    var(--brand-color) 30%
  );
  transition: $transition-secondary;
}

@media only screen and (min-width: 1440px) {
  .background-authentication {
    background-image: radial-gradient(
      circle at top left,
      #776be7 0%,
      var(--brand-color) 33%
    );
  }
}

.modal-authentication {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: transform cubic-bezier(0.17, 0.67, 1, 0.32);
  width: 307px;
  padding: 14px;
  border: 2px solid var(--primary-switcher-color);
  background-color: var(--background-switch-color);
  border-radius: 18px;
  transition: $transition-secondary;
}

@media only screen and (min-width: 1440px) {
  .modal-authentication {
    width: 531px;
    padding: 24px;
  }
}

.close-button {
  display: block;
  margin-left: auto;
  width: 20px;
  height: 20px;
  border: transparent;
  background-color: transparent;
  margin-bottom: 14px;
  stroke: var(--primary-switcher-color);
}

@media only screen and (min-width: 1440px) {
  .close-button {
    width: 28px;
    height: 28px;
  }
}

@media only screen and (max-width: 1439px) {
  .close-btn-svg {
    width: 20px;
    height: 20px;
  }
}

.close-btn-svg {
  fill: var(--primary-switcher-color);
  stroke: var(--primary-switcher-color);
  color: var(--primary-switcher-color);
}

.close-btn {
  stroke: var(--primary-switcher-color);
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 1440px) {
  .close-btn {
    width: 28px;
    height: 28px;
  }
}

.name-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 14px;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1440px) {
  .name-form {
    gap: 28px;
    margin-bottom: 20px;
  }
}

.user-log-area {
  position: relative;
}

.user-area-input {
  width: 244px;
  padding: 16px 24px;
  border: 2px solid var(--primary-switcher-color);
  background-color: transparent;
  color: var(--primary-switcher-color);
  border-radius: 40px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: -0.16px;
}

@media only screen and (min-width: 1440px) {
  .user-area-input {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.18px;
    width: 456px;
    height: 61px;
    padding: 0;
    padding-left: 40px;
  }
}

.user-area-input::placeholder {
  color: var(var(--primary-switcher-color));
  font-size: 16px;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: -0.16px;
}

@media only screen and (min-width: 1440px) {
  .user-area-input::placeholder {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.18px;
  }
}

.user-area-input:focus {
  outline-color: var(var(--primary-switcher-color));
}

.user-area-input:focus + .authentication-label {
  stroke: var(--primary-switcher-color);
}

.user-log-area {
  position: relative;
}

.authentication-label {
  position: absolute;
  top: 33%;
  right: 24px;
  width: 18px;
  height: 18px;
  stroke: var(--primary-switcher-color);
  fill: transparent;
}

@media only screen and (min-width: 1440px) {
  .authentication-label {
    top: 25%;
    right: 32px;
    width: 28px;
    height: 28px;
  }
}

.confirm-button {
  width: 244px;
  height: 50px;
  border-radius: 40px;
  background-color: var(--primary-switcher-color);
  color: var(--background-switch-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: -0.16px;
}

@media only screen and (min-width: 1440px) {
  .confirm-button {
    margin-top: 16px;
    width: 456px;
    height: 64px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.18px;
  }
}

.confirm-button:focus,
.confirm-button:hover {
  color: var(--background-switch-color);
  border: 2px solid var(--primary-switcher-color);
}
.user-auth {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: 700;
  line-height: 1.285;
  letter-spacing: -0.14px;
}

@media only screen and (min-width: 1440px) {
  .user-auth {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.18px;
  }
}

.user-sign-up {
  color: #4f2ee8;
  text-decoration: underline;
}

.user-sign-in {
  color: #11111180;
}
