@import './null-styles.scss';
@import './colors.scss';

/**
  |============================
  | footer
  |============================
*/


.footer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 48px;
    padding-right: 36px;
    text-align: center;

    font-size: 14px;
    line-height: 1.14;

    color: #545454;
    background-color: #f7f7f7;
}

.goit-link {
    text-decoration: underline;
    color: #fff;
    background-color: blue;
    cursor: pointer;
    border-radius: 4px;
}
.goit-link:active,
.goit-link:hover {
    color: #000;
    background-color: yellow;
}
.students-link {
    text-decoration: underline;
    color: #000;
    background-color: yellow;

    cursor: pointer;
    border-radius: 4px;
}
.students-link:active,
.students-link:hover {
    color: #fff;
    background-color: blue;
}
