@import './null-styles.scss';
@import './colors.scss';

.header {
  background-color: var(--primaryHeader-switch-color);
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid var(--primary-switcher-color);
}

.header-container {
  width: 100%;
  max-width: 335px;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 18px 20px;

  @media screen and (min-width: 768px) {
    max-width: 656px;
    padding: 14px 32px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2; /* 128.571% */
  letter-spacing: -0.56px;
  color: var(--secondary-switch-color);

  &::before {
    content: url(../images/icons/logo.svg);
    margin-right: 8px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 40px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 76px;
  }
}

.header-navigation-desktop {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.header-nav-list {
  display: flex;
}

.nav-list-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    transform: scale(0.98);
  }

  &:first-child {
    margin-right: 16px;
  }

  &:last-child::after {
    content: url(../images/icons/cart.svg);
    margin-left: 4px;
  }

  @media screen and (min-width: 1200px) {
    &:first-child {
      margin-right: 24px;
    }
  }
}



.nav-list-link {
  color: var(--secondary-switch-color);

  @media screen and (max-width: 767px) {
    color: $white-color;
  }
}

.header-current-page {
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 36px;
  background-color: $accent-color;

  & > .nav-list-link {
    color: $black-color-800;
  }
}

/* Dark Mode Toggle */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin-right: 14px;
  margin-left: auto;
}

.theme-switch-wrapper span {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.theme-switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 40px;
}

.theme-switch input {
  display: none;
}

.switch-slider {
  background: var(--gradient-switcher);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;

  &::before {
    background: $white-color;
    bottom: 1.5px;
    content: '';
    height: 18px;
    left: 1.5px;
    position: absolute;
    transition: 0.4s;
    width: 18px;
  }
}

input:checked + .switch-slider {
  background: var(--gradient-switcher);
}

input:checked + .switch-slider::before {
  transform: translateX(19px);
}

.switch-slider.round {
  border-radius: 34px;

  &::before {
    border-radius: 50%;
  }
}

.fas {
  font-size: 14px;
  margin-right: 5px;
  color: var(--secondary-switch-color);
}

/* ---- Dropdown ------------------------------------ */

.header-signin-dropdown {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.dropdown-trigger {
  display: flex;
  background-color: $secondary-color;
  padding: 4px 12px;
  border-radius: 36px;

  &:hover {
    filter: brightness(90%);
  }

  &:active {
    transform: scale(0.98);
  }
}

.user-image {
  margin-right: 9px;
}

.user-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  color: $white-color;

  &::after {
    margin-left: 4px;
    content: url(../images/icons/dropdown-arrow.svg);
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $white-color;
  min-width: 160px;
  margin-top: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  &:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.dropdown-content a {
  display: block;
  padding: 12px 16px;
  color: $black-color-800;

  &:hover {
    background-color: $grey-color;
  }

  &:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

/* --- Mobile Menu ---------------------------------- */

.menu-container {
  z-index: 100;
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: transform $transition-main;

  background: url(../images/mobile-munu-books.png), $gradient-color;
  background-repeat: no-repeat;
  background-position: right 50% bottom 14%;
  background-size: contain;
  padding: 20px;
}

.menu-container.is-open {
  transform: translateX(0);
  transition: transform $transition-main;
}

.mobile-user-info {
  display: flex;
  align-items: center;
  margin-bottom: 126px;
}

.user-signin-mobile {
  color: $white-color;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.44px;
}

.header-navigation {
  display: flex;
  justify-content: center;
  align-items: center;

  & > .header-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
  }
}

.mobile-signOut-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 18%;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
  padding: 15px 24px;
  
  border-radius: 18px;
  border: 1.5px solid $black-color-800;
  color: $black-color-800;
  background: $white-color;
  margin-top: auto;

  &::after {
    content: url(../images/icons/arrow-right.svg);
    margin-left: 4px;
  }

  &:hover,
  &:active {
    filter: brightness(90%);
  }

  &:active {
    transform: scale(98%);
  }

  @media screen and (min-height: 650px ) {
    bottom: 13%;
  }
  @media screen and (min-height: 750px ) {
    bottom: 10%;
  }
}

/* --- Menu Bars ------------------------------------ */

.burger-menu-bars {
  display: inline;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.bar1,
.bar2,
.bar3,
.bar4 {
  width: 24px;
  height: 2px;
  background-color: var(--primary-switcher-color);
  border-radius: 14px;
  margin: 3px 0;
  transition: 0.4s;
}

.bar2,
.bar4 {
  width: 19px;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-4px, 7px);
  height: 3px;
}

/* Fade out the middle bars */
.change .bar2,
.change .bar3 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar4 {
  transform: rotate(45deg) translate(-4px, -7px);
  width: 24px;
  height: 3px;
}
