// @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');
@font-face {
  font-family: 'DM Sans';
  src: local('Trickster'),
    url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap')
      format('opentype') tech(color-COLRv1);
}

@import './header.scss';
@import './sidebar.scss';
@import './supportUA.scss';
@import './_auth-modal.scss';
@import './preview.scss';
@import './modalCard.scss';
@import './shoppingList-card.scss';
@import './footer.scss';
@import './shop-list-pagin';

.main-section {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  // display: flex;
  // flex-wrap: wrap;
  padding-left: 20px;
  background-color: var(--background-switch-color);

  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (max-width: 1200px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}
// CSS for sidebar navigation <div>
.sidebar-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 32px;
    margin-bottom: 100px;
  }
  @media screen and (min-width: 1440px) {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 50px;
  }
}
