@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');

@import './header.scss';
@import './auth-modal.scss';
@import './sidebar.scss';
@import './supportUA.scss';
@import './_auth-modal.scss';
@import './preview.scss';
@import './shoppingList-card.scss';


// CSS for sidebar navigation <aside>
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .sidebar-box {
    display: flex;
    justify-content: space-between;
  }
}
