@import './null-styles.scss';
@import './colors.scss';

.books-modal {
  // display: flex;
  // justify-content: center;

  #modalWindow {
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden;
    background-color: rgba(17, 17, 17, 0.4);

    .book-add-btn {
      // display: flex;
      // min-width: 200px;
      align-self: center;
      justify-content: center;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: transparent;
      color: var(--secondary-switch-color);
      // padding-left: 149.5px;
      // padding-right: 149.5px;
      // justify-content: center;
      // align-items: center;
      // gap: 10px;

      border-radius: 40px;
      border: 2px solid #4f2ee8;

      // font-family: DM Sans;
      font-size: 18px;
      // font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 133.333% */
      letter-spacing: -0.18px;
      text-transform: uppercase;

      &:hover, &:focus {
        background-color: $secondary-color;
      }
    }

    .modal-content {
      position: absolute;
      background-color: var(--background-switch-color);
      margin: 15% 60%; /* 15% from the top and centered */
      padding: 40px;
      width: 100%; /* Could be more or less, depending on screen size */
      border: 2px solid var(--secondary-switch-color);
      border-radius: 10px;
      max-width: 579px;
      max-height: 465px;

      .close {
        color: var(--secondary-switch-color);
        position: absolute;
        top: 24px;
        right: 24px;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: $secondary-color;
        text-decoration: none;
        cursor: pointer;
      }

      .modal-wrap {
        display: flex;
        // padding: 25px;
        margin-bottom: 40px;

        .image {
          width: 192px;
          height: 281px;
        }

        .book_info {
          padding-left: 24px;
          // color: #111;
          // font-family: DM Sans;

          .book_title {
            font-size: 24px;
            color: var(--secondary-switch-color);
            
            // font-style: normal;
            font-weight: 700;
            line-height: 28px; /* 116.667% */
            letter-spacing: -0.96px;
            margin-bottom: 8px;
        
          }

          .book_tittle_autor {
            color: #b4afaf;
            font-family: DM Sans;
            font-size: 14px;
            font-style: italic;
            font-weight: 400;
            line-height: 18px; /* 128.571% */
            letter-spacing: -0.56px;
            margin-bottom: 20px;
          }

          .book_description {
            color: var(--secondary-switch-color);
            // font-family: DM Sans;
            font-size: 14px;
            // font-style: normal;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: -0.56px;
            margin-bottom: 28.5px;

            // width: 279px;
            // height: 70px;
            // flex-shrink: 0;
          }

          .book-links {
            // width: 173px;
            // height: 36px;
          }

          .book-links > * {
            display: flex;
            gap: 20px;
          }
        }
      }
    }
  }
}
