@import './colors.scss';
@import './null-styles.scss';
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #d3cfd3;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.sidebar {
  margin-top: 40px;
}
.sidebar-container {
  max-width: 335px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    max-width: 337px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: 0;
  }
  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 0;
  }
}
.category-container {
  max-width: 335px;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding-left: 40px;
    padding-right: 24px;
  }
}

.sidebar-list {
  max-width: 335px;
  height: 228px;
  overflow-y: scroll;
  padding-right: 20px;

  display: flex;
  gap: 24px;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    width: 309px;
    height: 472px;
    gap: 32px;
  }
  @media screen and (min-width: 1440px) {
    width: 328px;
    height: 472px;
  }
}
.category-list-title {
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}
.sidebar-link,
.category-list-link {
  color: rgba(17, 17, 17, 0.6);
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.13;
  letter-spacing: -0.32px;
  text-transform: lowercase;
  &:hover,
  &:focus,
  &.active {
    color: #4f2ee8;
    font-weight: 700;
    text-transform: uppercase;
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
}
.sidebar-item::first-letter,
.category-list-title::first-letter {
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .category-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 40px;
  }
}
.category-item {
  cursor: pointer;
}
.book-img {
  width: 335px;
  height: 485px;
  border-radius: 8px;
  margin-bottom: 14px;
  @media screen and (min-width: 768px) {
    width: 218px;
    height: 316px;
  }
  @media screen and (min-width: 1440px) {
    width: 180px;
    height: 256px;
  }
}
.book-title {
  color: #111;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 113%;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.book-author {
  color: #b4afaf;
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: -0.48px;
}
