@import './colors.scss';
@import './null-styles.scss';

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.sidebar-container {
  width: 335px;
  height: 228px;
  margin-right: 20px;
  // overflow: hidden;
  scroll-behavior: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: var(--background-switch-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border: 3px solid var(--scroll-color);
    border-radius: 10px;
  }

  @media screen and (min-width: 768px) {
    width: 337px;
    height: 472px;
  }
  @media screen and (min-width: 1440px) {
    width: 356px;

    // margin-left: 0;
    margin-bottom: 86px;
  }
}
.category-container {
  // max-width: 335px;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding-left: 40px;
    padding-right: 24px;
  }
}

.sidebar-list {
  height: 228px;
  overflow-y: scroll;
  display: flex;
  gap: 24px;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    height: 406px;
    gap: 32px;
  }
  @media screen and (min-width: 1440px) {
    height: 472px;
  }
}
.category-list-title {
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}
.sidebar-link,
.category-list-link {
  color: var(--book-list-switcher-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.13;
  letter-spacing: -2%;
  text-transform: lowercase;
  justify-content: flex-start;
  align-items: flex-start;
  width: 335px;
  // white-space: nowrap;
  &:hover,
  &:focus,
  &.active {
    color: var(--category-active);
    font-weight: 700;
    text-transform: uppercase;
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
}

.sidebar-item::first-letter,
.category-list-title::first-letter {
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .category-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 40px;
  }
}

.book-img {
  width: 335px;
  height: 485px;
  border-radius: 8px;
  margin-bottom: 14px;
  @media screen and (min-width: 768px) {
    width: 218px;
    height: 316px;
  }
  @media screen and (min-width: 1440px) {
    width: 180px;
    height: 256px;
  }
}
.book-title {
  color: var(--secondary-switch-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  // line-height: 113%;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.book-author {
  color: #b4afaf;

  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.48px;
}
