@charset "UTF-8";
:root {
  --background-switch-color: #f6f6f6;
  --primary-switcher-color: #111111;
  --book-list-switcher-color: rgba(17, 17, 17, 0.6);
  --gradient-switcher: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
}

[data-theme=dark] {
  --background-switch-color: #111111;
  --primary-switcher-color: #fff;
  --book-list-switcher-color: rgba(255, 255, 255, 0.6);
  --gradient-switcher: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1;
  font-style: normal;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}

.box {
  border: 1px dashed red;
}

.support-card {
  display: block;
  background-image: radial-gradient(189.32% 190.93% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
  box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
  position: relative;
  margin: 0 auto;
  padding-top: 24px;
  border-radius: 16px;
  width: 335px;
  max-height: 352px;
}

@media screen and (min-width: 768px) {
  .support-card {
    margin: 0;
    min-height: 474px;
  }
}
@media screen and (min-width: 1440px) {
  .support-card {
    width: 356px;
  }
}
.link {
  display: flex;
  align-items: center;
}

.support-title {
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: -0.96px;
  display: flex;
  color: #fff;
  margin: 0;
  padding-top: 2px;
  padding-left: 40px;
  padding-bottom: 2px;
  min-width: 161px;
  height: 24px;
  gap: 12px;
}

@media screen and (min-width: 768px) {
  .support-title {
    min-width: 178px;
    height: 28px;
  }
}
.support-numbers {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-right: 16px;
}

.support-list {
  padding: 42px 40px 24px;
  margin: 0;
  min-width: 159px;
  min-height: 188px;
}

@media screen and (min-width: 768px) {
  .support-list {
    padding-top: 40px;
  }
}
.support-item {
  padding-bottom: 20px;
}

.support-item:last-child {
  padding-bottom: 0;
}

/* .support-item:nth-child(8){
    height: 22px;
} */
/* @media screen and (max-width: 768px) {
    .support-item:nth-child(n + 5) {
        display: none;
    }
} */
/* @media (max-width: 352px) {
    .support-item:nth-child(n + 8) {
        display: none;
        width: 100%;
        background-color: orange;
    }
    .support-item:nth-child(-n + 4){
        display: block;
    }
} */
.img-support {
  /* Застосовує ефект негативу та змінює кольори на протилежні */
  filter: brightness(0) invert(1);
  max-width: 200px;
  height: 32px;
}

.support-btn {
  display: block;
  border-radius: 100%;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 152px;
  bottom: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .support-btn {
    left: 157px;
    bottom: 24px;
    width: 38px;
    height: 38px;
  }
}
@media screen and (min-width: 1440px) {
  .support-btn {
    left: 159px;
    right: 159px;
  }
}
.support-btn:hover,
.support-btn:focus {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.icon-ok {
  margin-top: 3px;
}

.icon-ua {
  padding-bottom: 0;
  margin: 0;
}

.support-numbers {
  color: #fff;
}/*# sourceMappingURL=supportUA.css.map */